* {
    font-family: 'Space Mono', monospace;
    font-size: 14px;
    margin: 0;
    padding: 0;
}

body{
    margin: 6.4%;
}

button{
    font-weight: 700;
    width: 15.43em; /*216px*/
    height: 4.86em; /*68px*/
    background-color: #333333; /*Gray 1*/
    color: #ffffff;
    border: none;
    cursor: pointer;
    margin: 6.12% 0;
}

footer{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    color: #bdbdbd;
    margin-top: 15%;
}

footer a {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    color: #4f4f4f;
}

h1{
    font-family: 'Inconsolata', monospace;
    font-size: 1.71em; /*24px*/
    font-weight: 700;
    color: #333333;
}

h2{
    font-size: 3.43em;/*48px*/
    font-weight: 700;
    color: #333333;
    padding: 6.12% 0;
}

img{
    margin: 6.12%;
}

main{
    display: flex;
    flex-direction: column;
    margin-bottom: 6.12%;
}

p{
    font-size: 1.29em;/*1.29px*/
    font-weight: 400;
    color: #4f4f4f;
    padding: 6.12% 0;
}




